<h1>Welcome the Doctor</h1>
<%= link_to 'Profile', {:action=>"show", :controller=>"docters", :id=>"#{current_user.id}"} %>
<%=link_to 'Edit Profile', {:action=>"edit", :controller=>"docters", :id=>"#{current_user.id}"} %>
