<center><h1>Welcome to Nagpur Doctor</h1>
</center>
<br />
<br />

   <p>
   	Patients:
      <% @patients.each do |patient| %>
      <%= link_to "#{patient.name}", {:action=>"show", :controller=>"patients", :id => patient.user_id} %>
      <% end %>
   </p>
   <p>
   	Doctors:
      <% @docters.each do |docter| %>
      <%= link_to "#{docter.name}", {:action=>"show", :controller=>"docters", :id => docter.user_id} %>
      <% end %>
   </p>
    <p>
   	Hospitals:
      <% @hospitals.each do |hospital| %>
      <%= link_to "#{hospital.name}", {:action=>"show", :controller=>"hospitals", :id => hospital.user_id} %>
      <% end %>
   </p>



