<div class=”state”>
<% f.fields_for :states, state_form, :child_index => (child_index rescue nil) do |sf|%>
<p>
<%= sf.label :state_name %>
<%= sf.text_field :state_name %>
</p>
<div class=”cities”>
<%= render(:partial => “city_form”, :locals => { :f => sf }) %>
<%= link_to_nested_form “Add more cities”, sf, :cities, 2 %>
</div>
<% end %>
</div>
